body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vw;
    margin: 5vw;
    text-align: center;
}

.start-button{
    padding: 8vw;
    margin: 3vw;
    font-size: xx-large;
}

.red{
    background-color: red;
    color: white;
}

.green{
    background-color: green;
    color: white;
}